@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    background-color: #394bc8;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
  background-color: #fec2ce;
  padding: 10px;
  text-align: center;
}

#content {
    align-items:stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 2em 0 2em;
}

.mini-box {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.mini-box:not(#character-section) {
  align-items: center;
  display: flex;
  gap: 5px;
}

.mini-box:not(#character-section) div:first-child {
  width: 100%;
}

.mini-box:not(#character-section) div:last-child {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2px;
  width: 100%;
}

.answer {
  background-color: #fec2ce;
}

.blank {
  background-color: #d5c3fd;
}

#top-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#character-section {
    width: 55%;
}

#unique-info {
  text-align: left;
  padding: 0 10px;
}

@media (max-width: 800px) {
  
    #top-section, #character-section {
        width: 100%;
    }
  }